---
layout: default
title: Rinwall Oy's official web pages
---

<section class="section--first section--frontpage">
  <div class="section-title">
    <div class="container">
      <div class="postMeta-wrapper postMeta-wrapper--frontpage">
        <ul class="postMeta">
          <li class="postMeta-tagline">
            Welcome to Rinwall Oy 
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section--postsWrapper">
  <div class="container">
    <div class="blockGroup">
      <ul class="blockGroup-list">
        {% for post in site.posts %}
          <li class="block">
            <div class="postArticle-wrapper">
              <article class="postArticle postArticle--short">
                {% if post.image.feature %}
                  <a href="{{ post.url }}">
                    <div class="postArticle-image desaturate" style="background-image:url('{{ post.image.feature | prepend: site.baseurl_featured_img }}')">
                    </div>
                  </a>
                {% else %}
                <a href="{{ post.url }}">
                  <div class="postArticle-image" style="background-image:url('{{site.baseurl}}assets/images/logo-black.svg')">
                  </div>
                </a>
                {% endif %}
                <a class="postArticle-title" href="{{ post.url }}">{{ post.title }}</a>
              </article>
              <div class="block-postMeta">{{ post.date | date_to_string }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68658038-1', 'auto');
  ga('send', 'pageview');

</script>
